img{
  float: left;
  width: 30%;
  margin: 1.66%;
}

p{
  font-family: Raleway;
  font-weight: 800;
  margin-left: 1.66%;
  width: 30%;
  font-size: 23px;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 20px;
}
